---
---

h1,
h2,
p,
li,
a {
  font-family: "Inter var", sans-serif;
}
a {
  color: #3490dc;
  text-decoration: none;
}

.bg-total-black {
  background-color: #000;
}

.limitations-list li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ffed4a; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  padding-right: 1.5em;
}

.phone {
  margin-bottom: -27rem;
}
