<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1,user-scalable=no"
/>

<!-- Plain Description -->
<meta
  name="description"
  content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.tagline}}{% endif %}"
/>
<link
  rel="icon"
  type="image/png"
  href="{% if page.favicon %}{{site.url}}{{page.favicon}}{% else %}{{site.url}}{{site.favicon}}{% endif %}"
/>

<!-- Google+ -->
<link rel="publisher" href="https://plus.google.com/{{site.googleplus}}" />
<meta
  itemprop="name"
  content="{% if page.fulltitle %}{{page.fulltitle}}{% else %}{{page.title}} | {{ site.title }} {% endif %}"
/>
<meta
  itemprop="description"
  content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.tagline}}{% endif %}"
/>
<meta
  itemprop="image"
  content="{% if page.image %}{{site.url}}{{page.image}}{% else %}{{site.url}}{{site.socialimg}}{% endif %}"
/>

<!-- Facebook -->
<meta property="og:type" content="website" />
<meta
  property="og:title"
  content="{% if page.fulltitle %}{{page.fulltitle}}{% else %}{{page.title}} | {{ site.title }} {% endif %}"
/>
<meta
  property="og:description"
  content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.tagline}}{% endif %}"
/>
<meta
  property="og:image"
  content="{% if page.image %}{{site.url}}{{page.image}}{% else %}{{site.url}}{{site.socialimg}}{% endif %}"
/>
<meta property="og:url" content="{{site.url}}{{page.url}}" />
<meta property="og:site_name" content="{{ site.title }} " />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta
  name="twitter:title"
  content="{% if page.fulltitle %}{{page.fulltitle}}{% else %}{{page.title}} | {{ site.title }} {% endif %}"
/>
<meta
  name="twitter:description"
  content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.tagline}}{% endif %}"
/>
<meta
  name="twitter:image"
  content="{% if page.image %}{{site.url}}{{page.image}}{% else %}{{site.url}}{{site.socialimg}}{% endif %}"
/>
<meta name="twitter:url" content="{{site.url}}{{page.url}}" />

<!-- CSS & fonts -->
<link
  href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>
<script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
<title>
  {% if page.fulltitle %}{{page.fulltitle}}{% else %}{{page.title}} | {{
  site.title }} {% endif %}
</title>
