<header>
  <nav class="mx-auto bg-white z-50 fixed w-full pin-t">
    <div
      class="container flex sm:items-center justify-between w-full flex-row pin-t pin-x mx-auto flex-wrap"
    >
      <div class="flex items-center flex-no-shrink">
        <img
          id="nav-logo"
          class="w-8 h-8 mt-1 sm:mt-2 ml-4 hidden"
          src="img/Cycle42.svg"
        />
      </div>
      <div class="block sm:hidden hover:bg-grey-300">
        <button
          class="p-4 flex items-center text-grey-600 burger"
          data-target="burger-menu"
        >
          <svg
            class="fill-current h-6 w-6"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div
        class="hidden flex-col w-full sm:flex sm:flex-row sm:w-auto hidden flex-grow justify-end"
        id="burger-menu"
      >
        <a
          class="block p-3  sm:m-3 sm:py-3 sm:px-4 sm:bg-pink-600 sm:hover:bg-pink-700 text-black sm:text-white font-bold no-underline rounded "
          href="/knockturn"
          >Knockturn Allee</a
        >
        <a
          class="block p-3  sm:m-3 sm:py-3 sm:px-4 sm:bg-yellow-400 sm:hover:bg-yellow-500 text-black font-bold no-underline rounded "
          href="/ironbelly"
          >Ironbelly</a
        >
        <a
          class="block p-3 sm:p-6 text-grey-500 hover:text-grey-600 no-underline"
          href="#whatwedo"
          >What we do</a
        >
        <a
          class="block p-3 sm:p-6 text-grey-500 hover:text-grey-600 no-underline"
          href="#contact"
          >Contact</a
        >
      </div>
    </div>
  </nav>
</header>
