<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
  <html class="no-js">
  <!--<![endif]-->

  <head>
    {% include head.html %}
    <link rel="stylesheet" href="css/devices.min.css">
  </head>
  <body class="flex flex-col h-screen">
    <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<header>
<nav class="mx-auto z-50 fixed w-full pin-t">
  <div class="container flex sm:items-center justify-between w-full flex-row pin-t pin-x mx-auto flex-wrap">
    <div class="flex items-center flex-no-shrink">
      <a href="/"><img id="nav-logo" class="w-8 h-8 mt-1 sm:mt-6 ml-2" src="img/Cycle42.svg" /></a>
    </div>
  </div>
</nav>
</header>
      <div class="flex flex-grow h-full mt-8 items-center flex-col px-4">
        <h1 class="text-5xl">Smirk 😏</h1>
        <h2 class="text-2xl font-light text-grey-dark leading-loose mb-2">Grin mobile wallet you've deserved</h2>
        <iframe id="ytplayer" type="text/html" width="800" height="450"
  src="https://www.youtube.com/embed/kCGUhWYUhgc?autoplay=1"
  frameborder="0"></iframe>
        <p class="text-xl text-center leading-loose mt-4">Build on top of Grin Rust code. Will be open-sourced.<br /> Public <b>beta testing is coming soon</b>, stay tuned!</p>
      </div>

  </body>
  </html>
